button.points {
  width: 60px;
}

form>input[type="text"] {
    min-width: 85%;
    max-width: 85%;
}

ul>li>div.points:last-child:not(:first-child) {
    width: 48px;
    text-align: center; !important
}

ul>li>button {
    min-width: 82px;
}

.scoreboard {
    width: 543px;
}

.sizing {
    width: 543px;
}

.story-reference {
    display: inline-block;
}

.hostory-record {
    font-size: 17px;
}

.header-buttons {
    text-align: center;
    margin-bottom: 20px;
}
.header-button {
    margin: 8px;
    cursor: pointer;
    color:#aaa;
}
.header-button:hover {
	color:#000;
}

/* warning */
.note {
  /*border: 1px solid;*/
  /*margin: 10px 0px -10px 0px;*/
  padding: 10px;
  text-align: center;
  /*color: #8c8c8c;*/
  background-color: #c4c4c4;
  /*font-size: 15px;*/
}
