
* {
    box-sizing: border-box;
    font-size: 20px;
    color: #2C3E50;
}

body {
    margin: 0;
    line-height: 20px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

form {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

form>input[type="text"], form>button {
    padding: .3em .3em;
    border-radius: 0;
}

form input[type="text"] {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.pure-button-primary, form>button:first-of-type, .pure-button-selected {
    background-color: #0078e7;
    color: #fff;
}

form>button {
    min-width: 14%;
    max-width: 14%;
}

.pure-button, ul>li>button, form>button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0,0,0,0.8);
    border: 1px solid #999;
    border: none transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

div>header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #c4c4c4;
    margin: 10px 0 4px 0;
}

div>header>div, div>footer>div {
    margin: 4px;
    padding: 4px;
}

ul {
    padding-left: 0;
    margin: 10px 0 0 0;
}

li {
    list-style: none;
    display: flex;
    margin: 4px 0 4px 0;
    justify-content: space-between;
}

ul>li>div {
    padding: 4px;
}

ul>li>* {
    flex-grow: 1;
}

ul>li>div:last-child:not(:first-child) {
    text-align: right;
    min-width: 74px;
    max-width: 74px;
}

ul>li>div:nth-child(2) {
    flex-grow: 1;
    min-width: 340px;
    max-width: 830px;
    flex-basis: auto;
}

ul>li>button {
    min-width: 60px;
    max-width: 60px;
    padding: 4px;
    margin: 2px;
    border-radius: 0;
}
