#groom {
    max-width: 543px;
    margin: 0 auto;
}

.title {
    text-align: center;
    opacity: .54;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 16px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

button.points {
    width: 60px;
}

form>input[type="text"] {
    min-width: 85%;
    max-width: 85%;
}

ul>li>div.points:last-child:not(:first-child) {
    width: 48px;
    text-align: center; !important
}

ul>li>button {
    min-width: 82px;
}

.sizing {
    /*width: 543px;*/
}

.story-reference {
    display: inline-block;
}

.hostory-record {
    font-size: 17px;
}

.header-buttons {
    text-align: center;
    margin-bottom: 20px;
}
.header-button {
    margin: 8px;
    cursor: pointer;
    color:#aaa;
}
.header-button:hover {
	color:#000;
}

/* warning */
.note {
  /*border: 1px solid;*/
  /*margin: 10px 0px -10px 0px;*/
  padding: 8px;
  text-align: center;
  /*color: #8c8c8c;*/
  background-color: #c4c4c4;
  /*font-size: 15px;*/
}
